@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
  background-color: #fff3ee;
  font-family: 'Bebas Neue', cursive;
  color: #fff;
  font-size: 26px;
}



#log > div {
  animation: fadeIn .3s ease forwards, fadeOut 0.5s ease 0 forwards;
  -webkit-animation: fadeIn .3s ease forwards, fadeOut 0.5s ease 0 forwards;
}

.colon {
  display: none;
}

#log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 10px 10px;
  width: 100%;
  table-layout: fixed;
  margin-left: 15px;
}

#log > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#log > div.deleted {
  visibility: hidden;
}

#log .emote {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 0.4em 0.2em;
  position: relative;
}

#log .emote img {
  display: inline-block;
  height: 1em;
  opacity: 0;
}

#log .message, #log .meta {
  vertical-align: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 0.1em;
}

#log .meta {
  width: 35%;
  text-align: right;
  padding-right: 0.5em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


.msg_box {
  position: relative;
  max-width: 450px;
  background: rgb(4,34,199);
	background: linear-gradient(90deg, rgba(4,34,199,1) 0%, rgba(29,29,142,1) 39%, rgba(4,14,92,1) 100%);
  padding: 15px 10px;
  word-break: break-word;
  margin-left: 30px;
  margin-right: 30px;
  border: 6px solid #dbc66d;
}




.box {
  position: relative;
  width: 100%; 
  height: 120px;
  position: relative;
	margin-bottom: 20px;
  
}

.name_boxW{
  position: absolute;
  background: rgb(4,14,92);
	background: linear-gradient(90deg, rgba(4,14,92,1) 0%, rgba(29,29,142,1) 39%, rgba(4,34,199,1) 100%);
  padding: 6px 15px;
  top: -40px;
  left: 40px;
	border: 6px solid #dbc66d;
  z-index: 33;
}
